<h4>Create Task</h4>

<form action="/create" method="post">
  <input type="text" name="name" placeholder="What to buy?">
  <input type="text" name="quantity" placeholder="How many?">
  <input type="submit" value="Create Item">
</form>
