<h4 class="text-center">Destroy Item</h4>

<p class="text-center">
  Are you sure you want to erase <em><%= @item.name %></em> from your list?
</p>

<form class="form-update" action="/items/destroy" method="post">
  <input type="hidden" name="id" value="<%= @item.id %>">
  <input type="submit" value="Destroy Item">
</form>
