    <div class="container">
      <div class="row">

        <div class="col-xs-12">
          <img id="logo" src="/img/shopping list logo.png">
          <h1 class="text-center">Login</h1>
          <% if @message %>
            <li><%= @message %></li>
          <% end %>
        </div>

        <div class="col-xs-12">

          <form class="" action="/users/login" method="post">
            <input class="form-control" type="text" name="user_name" placeholder="Username">
            <input class="form-control" type="password" name="password" placeholder="Password">
            <input class="form-control" id="btn_login" type="submit" value="Log In">
          </form>

        </div>

      </div>
    </div>
