<h4>Notice</h4>

<!-- if there is a message -->
<% if @message %>
    <!-- print that message -->
    <strong><%= @message %></strong>
<% end %>

<!-- Add a button to go back home -->
<p class="text-center">
  <a class="button-link" href="/items/">Home</a>
</p>
