body {
  background: #F5D0AA;
}

footer {
  padding-top: 30px;
}

table, th, td {
  border-collapse: collapse;
  line-height: 50px;
}

table {
  width:40%;
  margin: 0 auto;
  text-align: center;
}

.button-link {
  padding: 10px 15px;
  background: #571D69;
  color: #FFF;
  border-radius: 10px;
}

.button-link:hover {
  color: #FFF;
  background: #9A2720;
  text-decoration: none;
}

.form-control {
  margin: 5px;
}

.form-update {
  width: 410px;
  margin: 0 auto;
}

.form-btn {
  padding: 0px;
  height: auto;
  background: #571D69;
  color: #FFF;
  font-size: 2em;

}

#warning-message {
  color: #9A2720;
}

#logo {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}
